<h1>Preferences</h1>

<% if admin_signed_in? %>
  <%= render 'admin_form', user: @user %>
  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %> |
<% else %>
  <%= render 'form', user: @user %>
<% end %>

<%= link_to 'Delete my account', @user, method: :delete %>
