<h1><%= pluralize(@admins.length, "Admin") %>, <%= pluralize(@users.length, "User") %></h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin?</th>
      <th>Has Password?</th>
      <th>Subscribed?</th>
      <th>Failed Attempts</th>
      <th>Locked?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |a| %>
      <tr>
        <td><%= a.email %></td>
        <td>True</td>
        <td><%= a.encrypted_password? %></td>
        <td>N/A</td>
        <td><%= a.failed_attempts %></td>
        <td><%= a.locked_at? %></td>
      </tr>
    <% end %>
    <tr><td> -------- </td></tr>
    <% #TODO: paginate users list %>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.email %></td>
        <td></td>
        <td><%= u.encrypted_password.empty? %></td>
        <td><%= u.subscribed? %></td>
        <td><%= u.failed_attempts %></td>
        <td><%= u.locked_at? %></td>
        <td><%= link_to 'Show', u %></td>
        <td><%= link_to 'Edit', edit_user_path(u) %></td>
        <td><%= link_to 'Destroy', u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
