<h1>Sign Up for weekly show note emails</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited you from signing up:</h2>

    <ul>
      <% # byebug %>
      <% @user.errors.messages.each_value do |message| %>
        <li><%= message[0] %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f|%>
  <%= f.label :email %>
  <%= f.text_field :email %><br><br>
  <%= f.check_box :subscribed %> Subscribe to weekly show notes emails<br><br>
  <%= f.submit 'Sign up' %>
<%end%>