<h1>Sign Up</h1>

<%= form_for @user do |f|%>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  <%= f.check_box :subscribed %> Subscribe to weekly show notes emails<br>
  <%= f.submit %>
<%end%>