<% if logged_in? %>
  <%= current_user.email %> | 
  <%= link_to 'Episode draft', draft_path %> | 
  <%= link_to 'Email Subscribers', users_path %> | 
  <%= link_to 'Log Out', logout_path %>
<% end %>

<p>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
</p>
