<h1><%= link_to 'The Orbital Mechanics Podcast', root_path %></h1>

<% if admin_signed_in? %>
  <%= current_admin.email %> | 
  <%= link_to "Episode draft (#{Episode.not_published.count})", draft_path %> | 
  <% unless Delayed::Job.all.empty? %>
    <%= pluralize(Delayed::Job.all.count, 'job') %> | 
  <% end %>
  <%= link_to 'Users', users_path %> | 
  <%= link_to 'Log Out', destroy_admin_session_path, method: :delete %>
<% end %> <br>

<p>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</p>
