<%= form_with(model: episode, local: true) do |form| %>
  <% if episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
        <% episode.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :draft %>
    <strong><%= episode.draft %></strong>
  </div>

  <% if @episode.audio.attached? %>
    <p><audio id="player" controls><source src="<%= rails_blob_url(@episode.audio) %>" type="audio/mp3"></audio></p>
  <% end %>

  <div class="field">
    <%= form.label :audio %>
    <%= form.file_field :audio %>
    <% if episode.audio.attached? %><%= check_box_tag 'remove_audio' %> DELETE ATTACHED AUDIO ON SAVE<% end %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :publish_date %>
    <%= form.date_select :publish_date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class='field'>
    <%= form.label :images %> 
    <%= form.file_field :images, multiple: true %>
  </div>

  <ul>
  <% for image in episode.images do %>
      <li><%= link_to image_tag(image.image.variant(resize_to_limit: [500,500])), rails_blob_url(image.image), target: '_blank' %></li>
      <li>
        <%= text_field_tag ("image_positions[#{image.id}]"), (image.position) %> | 
        <%= text_field_tag ("image_captions[#{image.id}]"), (image.caption || '') %> | 
        <%= image.get_dimensions.join 'x' %> | 
        <%= check_box_tag "remove_image[#{image.id}]", image.id %> DELETE ON SAVE
      </li>
  <% end %>
  </ul>

  <%= form.hidden_field :draft %>
  <%= form.hidden_field :newsletter_status %>



  <div class="actions">
    <% # TODO: consider using gem commit_param_matching. %>
    <% if episode.draft %>
      <%= form.submit 'Save as draft' %>
    <% else %>
      <%= form.submit 'Revert to draft' %>
    <% end %>

    <% if episode.persisted? and episode.draft? %>
      <%= form.submit 'Draft and schedule newsletter' if episode.newsletter_status_before? 'scheduled' %>
      <%= form.submit 'Cancel scheduled newsletter' if episode.newsletter_status? == 'scheduled' %>
      <%= form.submit 'Publish' %>
    <% end %>
    <% if episode.persisted? and !episode.draft %>
      <%= form.submit 'Cancel scheduled newsletter' if episode.newsletter_status? == 'scheduled' %>
      <%= form.submit 'Publish changes' %>
    <% end %>
      <p>
      <div class="field">
        <%= form.label :newsletter_status %>
        <strong><%= episode.newsletter_status || NEWSLETTER_STATUSES[0] %></strong>
      </div>
  </div>
<% end %>
