<%= form_with(model: episode, local: true) do |form| %>
  <% if episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
        <% episode.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :audio %>
    <%= form.file_field :audio %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :publish_date %>
    <%= form.date_select :publish_date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class='field'>
    <%= form.label :images %> 
    <%= form.file_field :images, multiple: true, direct_upload: true %>
  </div>

  <% if episode.images.attached? %>
  <p>
    <strong>Images:</strong>
    <br>
    <% episode.images.each do |image| %>
      <%= image_tag image %>
    <% end %>
  </p>
  <% end %>

  <div class="actions">
    <%= form.submit "Save as draft", commit: 'draft' %>
    <%= form.submit "Publish", commit: 'publish' %>
  </div>
<% end %>
