<% @episodes.each do |episode| %>
    <h2><% if logged_in? and episode.draft? %> DRAFT <% end %> <%= link_to episode.full_title, episode_path(episode) %></h2>
    <i><%= episode.publish_date_short %></i> <%= link_to 'Edit', edit_episode_path(episode) if logged_in? %>
    <h3><%= episode.description %></h3>
  </p>
<% end %>

<% if @previous_page_start %>
  <%= link_to 'previous', episodes_with_range_path(@previous_page_start, @previous_page_end) %>
<% end %>
<% if @previous_page_start and @next_page_end %> | <% end %>
<% if @next_page_end %>
  <%= link_to 'next', episodes_with_range_path(@next_page_start, @next_page_end) %>
<% end %>