<%= link_to 'Previous Episode', @episode.previous_episode if @episode.previous_episode %><%= ' | ' if @episode.next_episode and @episode.previous_episode %><%= link_to 'Next Episode', @episode.next_episode if @episode.next_episode %>

<h2><% if logged_in? and @episode.draft? %> DRAFT <% end %></h2>
<h2><%= @episode.full_title %></h2>
<p><i><%= @episode.publish_date_short %></i></p>
<p><strong><%= @episode.description %></strong></p>
<br>

<p>
  <strong>Has audio attached:</strong>
  <%= @episode.audio.attached? %>
</p>

<% if @episode.audio.attached? %>
  <p><%= link_to 'Download', @episode.audio %></p>

  <p><audio id="player" controls><source src="<%= rails_blob_url(@episode.audio) %>" type="audio/mp3"></audio></p>
<% end %>

<p><%=raw @episode.notes_as_html %></p>


<% if logged_in? and @episode.draft? %> <p><H1>DRAFT DRAFT DRAFT</H1></p><% end %>
<% if logged_in? %><%= link_to 'Edit', edit_episode_path(@episode) %> | <% end %>
<%= link_to 'Back', episodes_path %>
