<%= link_to 'Previous Episode', @episode.previous_episode if @episode.previous_episode %>
<%= ' | ' if @episode.next_episode and @episode.previous_episode %>
<%= link_to 'Next Episode', @episode.next_episode if @episode.next_episode %>

<h2><% if @episode.draft? %> DRAFT <% end %></h2>
<h2><%= @episode.full_title %></h2>
<p><i><%= @episode.publish_date_short %></i></p>
<p><strong><%= @episode.description %></strong></p>

<% if @episode.audio.attached? %>
  <p><audio id="player" controls><source src="<%= rails_blob_url(@episode.audio) %>" type="audio/mp3"></audio></p>
<% end %>

<p><%=raw @episode.notes_as_html %></p>
<% if @episode.reddit_url %>
  <p><%= link_to "Talk about this episode on Reddit", @episode.reddit_url %></p>
<% end %>
<% for image in @episode.images do %>
  <%= link_to image_tag(image.image.variant(resize_to_limit: [500,500])), rails_blob_url(image.image), target: '_blank' %>
  <p><%= raw Episode.convert_markup_to_HTML(image.caption) || '' %></p>
  <br>
<% end %>

<% if admin_signed_in? %>
  <% if @episode.draft? %>
    <p><h1>DRAFT DRAFT DRAFT</h1></p>
  <% end %>
  <%= link_to 'Edit', edit_episode_path(@episode) %> | 
<% end %>
<%= link_to 'Back', episodes_path %>
