<p id="notice"><%= notice %></p>

<h1>The Orbital Mechanics Podcast</h1></br>

<% Episode.most_recent_published(1).each do |episode| %>
    <h2><%= "Episode #{episode.number}: #{episode.title}" %></h2>
    <i><%= episode.publish_date %></i>
    <%= episode.description %>
  </p>
<% end %>

<%= link_to 'More epsisodes...', episodes_path %>